<!DOCTYPE html>
<html>
<head>
    <title>{{pageTitle}}</title>
    <link rel="style/css" href="">
    <script src=""></script>
</head>
<body>
    <h1>{{screamIt pageText}}</h1>
    {{> footer}}
</body>
</html>